:root {
  --accent-1: rgb(17, 125, 131);
  --accent-2: rgb(39, 160, 167);
  --accent-3: rgb(93, 198, 203);
  --accent-4: rgb(145, 225, 229);
  --accent-5: rgb(199, 252, 255);
  --accent-6: rgb(230, 254, 255);
  --grey-1: rgb(43, 43, 43);
  --grey-2: rgb(75, 75, 75);
  --grey-3: rgb(106, 106, 106);
  --grey-4: rgb(131, 130, 130);
  --grey-5: rgb(166, 166, 166);
  --grey-6: rgb(230, 230, 230);
}
