@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './colors.css';
@import './multiselect.css';


body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

h1, h2, h3,h4, h5, h6, p, span {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  margin-bottom: 100px;
}

.form-container {
  display: flex;
  flex-flow: column;
  gap: 16px;
  border-radius: 4px;
  flex-grow: 2;
}

.form-wrapper {
  display: flex;
  gap: 44px;

  padding: 36px 44px;
  background-color: var(--grey-6);
  margin-bottom: 24px;
  border-radius: 8px;

  .create-form-wrapper {
    flex-basis: 600px;
  }
}

.book-illustration {
  max-height: 300px;
  width: 40%;
  max-width: 300px;
}



.filled-button {
  height: 36px;
  background-color: var(--accent-1);
  color: white;
  border-style: none;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

.books-section ul {
  background-color: var(--grey-6);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
}


.books-section li {
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 200px;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
}

.authors-section {
  background-color: rgb(238, 248, 248);
  padding: 24px;
  margin-bottom: 24px;
  border: 2px solid rgb(174, 185, 183);
  border-radius: 8px;

  ul {
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding-left: 16px;
  }

  li {
    background-color: white;
    padding: 8px 16px;
  }
}

.dropdown {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  background: rgb(248, 248, 248);
  border: solid 1px rgb(222, 222, 222);
  cursor: pointer;
  height: 36px;
  border-radius: 4px;

  &:focus {
    height: auto;
  }
}

.dropdown option {
  font-size: 14px;
  padding: 4px 16px;
  border-top: solid 1px rgb(202, 202, 202);
  height: 24px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgb(52, 107, 98);

    & a {
      color: white;
    }
  }
}

.hide {
  display: none;
}

.book-search-wrapper {
  background-color: var(--accent-1);
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;

  h2 {
    color: white;
    margin-right: 24px;
  }

  
  .search-input-wrapper {
    height: 36px;
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    background-color: white;
    padding-right: 8px;
    display: flex;
    align-items: center;
    
    .search-input {
      border: 0;
      padding: 0 16px;
      height: 100%;
      border-radius: 4px;

      &:focus-visible {
        outline: 0;
      }
    }

    .cancel-button {
      background-color: transparent;
      border: 0;
    }

    i {
      color: var(--grey-3);
      cursor: pointer;

      &:hover {
        color: var(--grey-2);
      }
    }
    
    &:focus-within {
      border-color: var(--grey-1);
      outline: 4px solid var(--accent-3)
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}