table {
  margin: 0 auto;
  width: 100%;
  
  border-collapse: collapse;
  border: 1px solid var(--grey-6);

  td, th {
    padding: 8px 16px;
    border-right: 1px solid var(--grey-6);
    border-bottom: 1px solid var(--grey-6);
  }

  .title-col,
  .author-col {
    min-width: 30%;
  }

  .id-col {
    width: 20px;
  }

  .publication-col,
  .price-col {
    width: 30px;
  }

  td {
    button {
      background-color: transparent;
      width: 36px;
      height: 36px;
      border: 1px solid transparent; 
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    
      &:hover {
        background-color: var(--accent-6);
        border-color: var(--grey-5)
      }
  
      i.fa {
        font-size: 20px;
        color: var(--accent-1);
      }
    }
  }
}